header{
    display: flex;
    align-items: center;
}

nav a{
    margin: 10px;
}

nav {
    border: 3px solid #9847aF;
    border-left: 0px;
    padding: 26px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

header img{
    border: 3px solid #9847aF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

h1 {
    text-align: center;
}

.table-top {
    background-color: #9847aF;
}

td {
    background-color: #a75ac9;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #9847aF;
    padding: 3px;
}

.table {
    border-collapse: collapse;
}

.link {
    color: #715AFF;
}

p {
    font-size: 20px;
    color: #102E4A;
}

h1, h2{
    color: #102E4A
}

body {
    background-color: #A682FF;
}

a {
    text-decoration: none;
    color: #196074;
}
